$height: 3rem;

@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 

 

// body { 
// 	color: $color 
// };


.top-bar {
	min-height: $height;
}

.table-col {
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    @include calc(height, "100% -  " #{$height} )
}

.movie-item {
	height: 164px;
	text-align: center;
	padding-top: 1rem;
}

.movie-item img {
	max-height: 120px;
	display: inline-block;
}